*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.game{
    width: 640px;
    height:100%;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
}

.buttons-container {
    height: 70%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.button{
    width: 50px;
    height: 50px;
    box-shadow: 0 7px 0 0.5px #000000;
    border-radius: 50%;
    border: solid 4px #000000;
    cursor: pointer;
}

.button:active{
transform: translate(0, 7px);
box-shadow: none;
}

.button:nth-child(1){
    background-color: #ff4545;
}
.button:nth-child(2){
    background-color: #45ff45;
}
.button:nth-child(3){
    background-color: #4545ff;
}
.button:nth-child(4){
    background-color: #ffff45;
}
.button:nth-child(5){
    background-color: #ff45ff;
}
