*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Tajawal',sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    transform: translate(0, -5%);
    color: #ffffff;
}

.block{
    width: 64vw;
    margin: 0 auto;
}

h2{
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

p{
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
}

.link{
    padding: 5px;
    outline-style: none;
    text-decoration: none;
}

.link,
.link:visited,
.icon {
    color: #ffffff;
    font-size: 5rem;
}




