@media only screen and (min-width:1024px){

    html{
        font-size: 20px;
    }

    .game{
        width: 94%;
    }

    .buttons-container {
        margin: 0 auto;
        margin-bottom: 50px;
        width:50%;
        height: max-content;
        flex-direction: row;
        justify-content: space-between;
        transform: translate(0,-45px);
    }

} 