*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Lato', serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav{
    width: 88%;
    height: 75px;
    margin: auto;
    margin-top:15px ;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

p{
    color: #ffffff;
    font-size:2.1rem;
}

.link,
.link:visited,
.icon {
    color: #ffffff;
    font-size:3.1rem;
}

.game{
    flex:1;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.buttons-container {
    height: 75%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    transform: translate(0px, -20px);
}

.button{
    width: 50px;
    height: 50px;
    box-shadow: 0 7px 0 0.5px #000000;
    border-radius: 50%;
    border: solid 4px #000000;
    cursor: pointer;
}

.clicking-button{
    transform: translate(0, 7px);
    box-shadow: none;
}

.button:focus {
    outline: 0;
}

.button:nth-child(1){
    background-color: hsl(0, 100%, 64%);
}
.button:nth-child(2){
    background-color: hsl(200, 100%, 64%);
}
.button:nth-child(3){
    background-color: hsl(400, 100%, 64%);
}
.button:nth-child(4){
    background-color: hsl(850, 100%, 64%);
}
