*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: 'Tajawal',sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav{
    width: 88%;
    height: 75px;
    margin: auto;
    margin-top:15px ;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.my-logo{
    width: 60px;
}

.info-block{
    width: 50vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(0,20%);
}

p{
    font-size:1.8rem;
    height: min-content;
}

.link,
.link:visited{
    height: fit-content;    
    font-size:3.1rem;
    color: #ffffff;
}

.icon{
    font-size:2.6rem ;
}

.game{
    flex:1;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.buttons-container {
    height: 75%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    transform: translate(0px, -20px);
}

.button {
    width: 50px;
    height: 50px;
    box-shadow: 0 7px 0 0.5px #000000;
    border-radius: 50%;
    border: solid 4px #000000;
    cursor: pointer;
}

.clicking-button{
    transform: translate(0, 7px);
    box-shadow: none;
}

.button:focus {
    outline: 0;
}

.button:nth-child(1){
    background-color: hsl(0, 100%, 64%);
}
.button:nth-child(2){
    background-color: hsl(200, 100%, 64%);
}
.button:nth-child(3){
    background-color: hsl(400, 100%, 64%);
}
.button:nth-child(4){
    background-color: hsl(850, 100%, 64%);
}
